@model MvcOnlineTicariOtomasyon.Models.Classes.SaleMovement
@{
    ViewBag.Title = "GetSale";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateSale", "Sale", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Product)
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.valueproduct, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Currently)
    @Html.DropDownListFor(x => x.CurrentlyId, (List<SelectListItem>)ViewBag.valuecurrently, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Staff)
    @Html.DropDownListFor(x => x.StaffId, (List<SelectListItem>)ViewBag.valuestaff, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.UnitPrice)
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Total)
    @Html.TextBoxFor(x => x.Total, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SaleDate)
    @Html.TextBoxFor(x => x.SaleDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
}
