@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SaleMovement>
@{
    ViewBag.Title = "SaleDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Detayı</h2>
<br />

<table class="table table-striped">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>CARİ</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM</th>
        <th>TARİH</th>
    </tr>
    @foreach (var sale in Model)
    {
        <tr>
            <td>@sale.Id</td>
            <td>@sale.Product.ProductName</td>
            <td>@sale.Currently.FirstName @sale.Currently.LastName</td>
            <td>@sale.Staff.FirstName @sale.Staff.LastName</td>
            <td>@sale.UnitPrice</td>
            <td>@sale.Amount</td>
            <td>@sale.Total</td>
            <td>@sale.SaleDate</td>
        </tr>
    }
</table>
<button class="btn btn-warning">Yazdır</button>